<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <title>Matt Elks Test Project</title>
    <!-- links -->
    <link rel="stylesheet" type="text/css" href="/public/style.css"/>
      <!-- <script src="/public/main.js" defer></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    /> 
  
  </head>

  <body>
    <div class="container">
      <div class="content-wrap">
        <header>
          <div>
            <h1>Product List</h1>
          </div>
          <div class="list-nav">
            <button><a href="/add-product">ADD</a></button>
            <form action="/delete-product" method="post" id="delete-product">
              <button for="delete-product" id="delete-product-btn" name="submit" type="submit">MASS DELETE</button>
            </form>
          </div>
        </header>
   <main class="main"> 
</html>
