<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <title>Matt Elks Test Project</title>
    <!-- links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/main.css" />
    <!-- <script src="/public/main.js" defer></script> -->
    <!-- -->
  </head>

  <body>
    <div class="container">
      <div class="content-wrap">
        <header>
          <div>
            <h1>Product List</h1>
          </div>
          <div>
            <button><a href="/add-product">ADD</a></button>
            <button id="delete-product-btn">MASS DELETE</button>
          </div>
        </header>
   
</html>
