/*
colors:
Telemagenta: #DA2F73
Green: #06FF00
Black: #000000
*/

body {
  font-family: "Silkscreen", cursive;
  display: flex;
  justify-content: center;
  color: #da2f73;
  background-color: #000000;
}
.container {
  min-height: 100vh;
  width: 1140px;
  position: relative;
}
.content-wrap {
  padding-bottom: 2rem;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #da2f73;
}
header h1 {
  margin: 10px 0;
}
header button {
  font-size: 1.3rem;
  font-family: "Silkscreen", cursive;
  border-color: #da2f73;
  background-color: #000000;
  color: #da2f73;
  padding: 5px 8px;
  border-width: 3px;
}

header button:hover {
  border-color: #06ff00;
  background-color: #06ff00;
  color: black;
  cursor: pointer;
}

header button a {
  text-decoration: none;
}

header button :active {
  transform: translateY(1px);
  box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.1) inset;
}

header button a:visited {
  color: inherit;
}

/*LIST-PRODUCT MAIN*/

.main {
  display: flex;
  justify-content: space-around;
}

.single-product {
  display: flex;
  margin: 20px 0px;
  border: solid 3px;
  padding: 5px 0px;
  flex-flow: column wrap;
  width: 19%;
}

/*ADD-PRODUCT MAIN*/

.form-container {
  display: flex;
  justify-content: center;
}
.form-wrap {
  width: 200px;
  padding-top: 40px;
}

label {
  font-size: 1.2rem;
}
input {
  font-family: "Silkscreen", cursive;
  margin-top: 5px;
  border: none;
}
input:focus {
  outline: 3px solid #da2f73;
}
select {
  font-family: "Silkscreen", cursive;
  padding: 3px 0px;
  margin-top: 5px;
  border: none;
}
select:focus {
  outline: 3px solid #da2f73;
}
/* OPTION CONTAINER */
.option-container {
  margin-top: 15px;
}
.option-container p {
  margin-top: 5px;
}

/* VALIDATION STYLING*/
.error {
  outline: 3px solid #da2f73;
}
.success {
  outline: 3px solid #06ff00;
}
small {
  color: #06ff00;
  margin-bottom: 5px;
}
/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  position: absolute;
  bottom: 0;
  height: 2rem;
  border-top: 3px solid #da2f73;
}
footer p {
  margin: 0;
}
